<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VendorServices"
        tools:targetApi="31"
       >
        <activity
            android:name=".V.TranslatorServices.activity.AddNewTranslatorServices"
            android:exported="false" />
        <activity
            android:name=".V.activity.CustomerReviews"
            android:exported="false" />
        <activity
            android:name=".V.activity.TranslatorWallet"
            android:exported="false" />
        <activity
            android:name=".V.activity.EditBankInfo"
            android:exported="false" />
        <activity
            android:name=".V.activity.TranslatorBankInfo"
            android:exported="false" />
        <activity
            android:name=".V.activity.EditTranslaterInformation"
            android:exported="false" />
        <activity
            android:name=".V.MyTranslotor.activity.Profile"
            android:exported="false" />
        <activity
            android:name=".V.activity.TranslaterSetup"
            android:exported="false" />
        <activity
            android:name=".V.activity.ServiceUpdate"
            android:exported="false" />
        <activity
            android:name=".V.TranslatorServices.activity.TranslaterServiceList"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.OrderDetails"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.ConfirmOrders"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.AllOrders"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.RefundedOrders"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.CanceledOrders"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.DeliveredOrders"
            android:exported="false" />
        <activity
            android:name=".V.Order.activity.ServicesRequestList"
            android:exported="false" />
        <activity
            android:name=".V.Dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".V.Login.activity.Login"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VendorServices">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/channel_id" />
        <service
            android:name=".V.Notification.MyFirebaseMessagingService"
            android:exported="false">


            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>